In [2]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno

##  1. 원본 데이터 처리

In [3]:
challenge2024_dataset_path1 = 'val dataset'
challenge2024_dataset_path2 = 'test dataset'

In [4]:
# 검증 데이터 세트val dataset
print('val dataset' + '='*20)
for file_name in os.listdir(challenge2024_dataset_path1):
    if file_name.startswith('ch2024_val'):
        print(file_name)
# 시험 데이터 세트test dataset
print('test dataset' + '='*20)
for file_name in os.listdir(challenge2024_dataset_path2):
    if file_name.startswith('ch2024_test'): 
        print(file_name)

val dataset====================
ch2024_val__m_acc_part_1.parquet.gzip
ch2024_val__m_acc_part_2.parquet.gzip
ch2024_val__m_acc_part_3.parquet.gzip
ch2024_val__m_acc_part_4.parquet.gzip
ch2024_val__m_activity.parquet.gzip
ch2024_val__m_ambience.parquet.gzip
ch2024_val__m_gps.parquet.gzip
ch2024_val__m_light.parquet.gzip
ch2024_val__m_usage_stats.parquet.gzip
ch2024_val__w_heart_rate.parquet.gzip
ch2024_val__w_light.parquet.gzip
ch2024_val__w_pedo.parquet.gzip
test dataset====================
ch2024_test_m_activity.parquet.gzip
ch2024_test_m_ambience.parquet.gzip
ch2024_test_m_gps.parquet.gzip
ch2024_test_m_light.parquet.gzip
ch2024_test_m_usage_stats.parquet.gzip
ch2024_test_w_heart_rate.parquet.gzip
ch2024_test_w_light.parquet.gzip
ch2024_test_w_pedo.parquet.gzip
ch2024_test__m_acc_part_5.parquet.gzip
ch2024_test__m_acc_part_6.parquet.gzip
ch2024_test__m_acc_part_7.parquet.gzip
ch2024_test__m_acc_part_8.parquet.gzip

### 1-1.분 단위 간격으로 된 경우
- mAcitivity , mAmbience, mLight, wLight, mUsageStats, wPedo  <br>
분 단위 이하 단위를 처리하고 그대로 저장 <br> 각 항목별로 반복 수행

In [41]:
# subject 1의 mAcc ch2024_val__m_acc_part_1parquetgzip
file_name = 'ch2024_test_w_pedo.parquet.gzip'
df_raw = pd.read_parquet(os.path.join(challenge2024_dataset_path2, file_name))
df_raw.info()
df_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119811 entries, 0 to 119810
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   subject_id       119811 non-null  int64
 1   timestamp        119811 non-null  datetime64[us]
 2   burned_calories  119811 non-null  float64
 3   distance         119811 non-null  float64
 4   running_steps    119811 non-null  int64
 5   speed            119811 non-null  float64
 6   steps            119811 non-null  int64
 7   step_frequency   119811 non-null  float64
 8   walking_steps    119811 non-null  int64
dtypes: datetime64[us](1), float64(4), int64(4)
memory usage: 8.2 MB

,subject_id,timestamp,burned_calories,distance,running_steps,speed,steps,step_frequency,walking_steps
0,5,2023-11-05 00:00:00,0.0,7.73,0,0.128833,10,0.166667,0
1,5,2023-11-05 00:01:00,0.0,0.00,0,0.000000,0,0.000000,0
2,5,2023-11-05 00:02:00,0.0,0.00,0,0.000000,0,0.000000,0
3,5,2023-11-05 00:03:00,0.0,0.00,0,0.000000,0,0.000000,0
4,5,2023-11-05 00:04:00,0.0,0.00,0,0.000000,0,0.000000,0

In [42]:
df_raw['timestamp'] = pd.to_datetime(df_raw['timestamp'])
df_raw['timestamp'] = df_raw['timestamp'].dt.floor('min')
df_raw

,subject_id,timestamp,burned_calories,distance,running_steps,speed,steps,step_frequency,walking_steps
0,5,2023-11-05 00:00:00,0.0,7.73,0,0.128833,10,0.166667,0
1,5,2023-11-05 00:01:00,0.0,0.00,0,0.000000,0,0.000000,0
2,5,2023-11-05 00:02:00,0.0,0.00,0,0.000000,0,0.000000,0
3,5,2023-11-05 00:03:00,0.0,0.00,0,0.000000,0,0.000000,0
4,5,2023-11-05 00:04:00,0.0,0.00,0,0.000000,0,0.000000,0
...,...,...,...,...,...,...,...,...,...
119806,8,2023-11-09 23:55:00,0.0,0.00,0,0.000000,0,0.000000,0
119807,8,2023-11-09 23:56:00,0.0,0.00,0,0.000000,0,0.000000,0
119808,8,2023-11-09 23:57:00,0.0,0.00,0,0.000000,0,0.000000,0
119809,8,2023-11-09 23:58:00,0.0,0.00,0,0.000000,0,0.000000,0
119810,8,2023-11-09 23:59:00,0.0,0.00,0,0.000000,0,0.000000,0

In [43]:
# 수행 항목별로 파일 이름을 수정
df_raw.to_csv('test/w_pedo.csv',index=False)

### 1-2.분 단위 이하로 데이터가 존재하는 경우
- mAcc, mGps, wHr <br>
분 단위로 만들어주고 특성값에 max, min, last, mean, median을 구하고 칼럼으로 추가해서 저장 <br>
각 항목별로 반복 수행 후 저장

In [44]:
def process_gzip_files(folder_path, file_identifier):
    """
    주어진 폴더 안의 gzip 파일들을 처리하여 데이터프레임을 생성하는 함수

    :param folder_path: gzip 파일들이 있는 폴더 경로
    :param file_identifier: 처리할 파일의 이름에 포함되어야 하는 식별자
    :return: 생성된 데이터프레임
    """
    # 빈 데이터프레임 생성
    result_df = pd.DataFrame()

    # 주어진 폴더 내의 모든 파일에 대해 반복
    for file_name in os.listdir(folder_path):
        if file_name.endswith('.gzip') and file_identifier in file_name:
            file_path = os.path.join(folder_path, file_name)

            # Parquet 파일을 데이터프레임으로 읽어오기
            df = pd.read_parquet(file_path)

            # timestamp를 분 단위로 변경
            df['timestamp'] = df['timestamp'].dt.floor('min')

            # 시간 구간별로 집계하여 통계량 계산
            agg_df = df.groupby('timestamp').agg({
                **{col: ['last', 'mean', 'max', 'min', 'median'] for col in df.columns if col not in ['subject_id', 'timestamp']}
            })

            # MultiIndex 칼럼을 flat하게 만들기
            agg_df.columns = ['_'.join(col).strip() for col in agg_df.columns.values]

            # timestamp를 칼럼으로 이동
            agg_df.reset_index(inplace=True)

            # subject_id를 timestamp의 마지막 값으로 설정
            subject_id = df.groupby('timestamp')['subject_id'].last()
            agg_df = pd.merge(subject_id, agg_df, on='timestamp',how='left')

            # 최종 결과에 현재 파일의 데이터프레임 추가
            result_df = pd.concat([result_df, agg_df])

    return result_df

In [56]:
user1 = process_gzip_files(challenge2024_dataset_path2,'ch2024_test__m_acc_part_5.parquet.gzip')

In [57]:
user2 = process_gzip_files(challenge2024_dataset_path2,'ch2024_test__m_acc_part_6.parquet.gzip')

In [58]:
user3 = process_gzip_files(challenge2024_dataset_path2,'ch2024_test__m_acc_part_7.parquet.gzip')

In [59]:
user4 = process_gzip_files(challenge2024_dataset_path2,'ch2024_test__m_acc_part_8.parquet.gzip')

In [60]:
final_df = pd.concat([user1,user2,user3,user4],axis=0)

In [68]:
final_df = process_gzip_files(challenge2024_dataset_path2,'ch2024_test_m_gps.parquet.gzip')

In [69]:
# 항목 이름별로 파일 이름 수정해서 저장
final_df.to_csv('test/m_gps.csv',index=False)